@font-face {
    font-family: 'customFont';
    /* Replace myFont with your resource name */
    src: url('/resource/customfont/Poppins-Regular.ttf') format('TrueType');
 }

.hero-wrapper{
    padding-top: 5rem;
    padding-bottom: 5rem;
}


@media (min-width: 768px) {
    .hero-text--container {
      width: 60%; 
    } 
}

.hero-button--container a {
   display: flex;
   justify-content: center;
   border-radius: 6px;
   padding: 1rem 1.5rem;
}
.hero-button--container a:first-child{
    background-color: #95adbe;
    border-color: #95adbe;
    color: #fff;
}
.hero-button--container a:first-child:hover{
     background-color: #fff;
     color: #95adbe;     
}
.hero-button--container a:last-child{
    background-color: #fff;
    border-color: #fff;
    color: #95adbe;
}
.hero-button--container a:last-child:hover{
     background-color: #95adbe;
     color: #fff; 
     border-color: #95adbe;    
}



